* {
    box-sizing: border-box;
}
header {
padding-top: 20px;
padding-bottom: 25px;
border-bottom: 10px solid orange;
}
.intro {
padding: 1rem;
}
footer {
margin-top: 50px;
}
.featured {
border-top: 2px dotted lightgrey;
}
header {
height: 25vh;
}
.intro {
width: 75vw;
}