/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	line-height: 1.6;
	color: #3a3a3a;
}

a { 
	color: #fff;
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- navigation ---- */

.name {
    margin-top: 0;
}

ul {
    display: flex;
}
ul li {
    padding: 1em 2em;
}

/* ---- Layout Containers ---- */

.container {
    padding: 0 1em;
}

.wrap {
    min-width: calc(100vh - 152px);
}

.main-header {
	background: #3acec2;
    padding: 1em 0;
}

.main-footer {
	padding: 2em 0;
	background: #d9e4ea;
    text-align: center;
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 720px) {
    .container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
    }
}


