/* |||||  General styles  ||||| */

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 226, 226);

    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    color: black;
    text-align: center;

}
p {
    padding: 1em;
    font-size: 0.8em;
    /* text-align: center; */
}
h1, h2, h3, a {
    color: rgb(20, 0, 0);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    margin: 0.5em 0;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.1rem;
}
ul {
    margin: 2px;
    padding: 0.5em;
    list-style: none;
}
figure, img {
    max-width: 100%;
    margin: 0;
}
footer a {
    font-weight: normal;
}
li p {
    margin: 2px;
    padding: 1px;
}
header p, .foot-p {
    font-size: 1rem;
}
a:hover, a:focus {
    color: orange;
}


/* |||||  Layout styles  ||||| */


body {
    display: flex;
    flex-direction: column;
}
header, footer {
    width: 100%;
    margin: 0;
    padding: 0.8em;
}
main {
    margin: 8px 2%;
    padding: 0.4em 0.4em;
    background-color: white;
}
.main-nav ul {
    margin: 0 0 1em 0;
    padding: 0;
}
.main-nav li {
    background-color: rgba(245, 245, 245, 0.7);
    margin: 0.5em;
    padding: 0.2em 1em;
}
section {
    border: 1px solid grey;
    padding: 2px;
}
header, #main-content {
    display: flex;
    flex-direction: column;
    
}
.sticky-footer {
    display: flex;
    justify-content: right;
}
.hide {
    display: none;
    margin: 0 0.5em;
    padding: 0.2em 0.5em;
}
.logo {
    margin-right: auto;
}
.foot-p {
    /* fix the footer paragraph */
    margin: 0.4em 0.5em;
    padding: 0 0.5em;
}


/* |||||  Media Queries  ||||| */

/* -----Tablet view----- */

@media screen and (min-width: 768px) {
    .main-nav ul {
        display: flex;
        justify-content: center;
    }
    #main-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    section {
        flex-basis: 50%;
    }
    header {
        display: block;
    }
    header figure img {
        float: right;
        margin-left: 0.5em;
    }
    .hide1 {
        display: none;
    }
    .hide {
        display: block;
    }
    .foot-p {
        /* fix the footer paragraph */
        margin: 0.4em 1em;
        padding: 0 1em;
    }
    
}

/* -----Desktop view----- */

@media screen and (min-width: 1024px) {
    
    header div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .main-nav ul {
        align-items: center;
        margin: 0.4em;
        margin-bottom: 2em;
    }
    header {
        margin-bottom: 3em;
        padding-bottom: 2em;
    }
    header figure img {
        margin: 1em 2em;
        width: 35vw;
    }
    header p {
        font-size: 1.5rem;
        text-align: left;
    }
    h1 {
        margin-left: 1em;
        font-size: 1.4em;
        color: rgb(255, 166, 2);
    }
    h2 {
        margin: 2em;
    }
    #main-content {
        margin: 2em 1em;
    }

    section {
        flex-basis: 33%;
    }

    .foot-p {
        /* fix the footer paragraph */
        margin: 0.4em 1.5em;
        padding: 0 2.5em;
    }
}