/* |||||  General styles  ||||| */

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 226, 226);

    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    color: black;
    text-align: center;

}
p {
    padding: 1em;
    font-size: 0.8em;
    /* text-align: center; */
}
h1, h2, h3, a {
    color: rgb(20, 0, 0);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    margin: 0.5em 0;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.1rem;
}
ul {
    margin: 2px;
    padding: 0.5em;
    list-style: none;
}
figure, img {
    max-width: 100%;
    margin: 0;
}
footer a {
    font-weight: normal;
}
li p {
    margin: 2px;
    padding: 1px;
}


/* |||||  Layout styles  ||||| */


body {
    display: flex;
    flex-direction: column;
}
header, footer {
    width: 100%;
    margin: 0;
    padding: 0.8em;
}
main {
    margin: 8px 2%;
    padding: 0.4em 0.4em;
    background-color: white;
}
.main-nav ul {
    margin: 0 0 1em 0;
    padding: 0;
}
.main-nav li {
    background-color: whitesmoke;
    margin: 0.5em;
}
section {
    border: 1px solid grey;
    padding: 2px;
}
header, .main-nav, #main-content {
    display: flex;
    flex-direction: column;
    
}
.sticky-footer {
    display: flex;
    justify-content: right;
}
.hide {
    display: none;
}
.logo {
    margin-right: auto;
}


/* |||||  Media Queries  ||||| */

